#countries {
    text-align: center;
}

#countriesTable {
    margin: auto;
    width: 100%;
}

h1 {
    margin: 20px 0;
    padding: 10px;
    background-color: #5c7569;
    color: white;
    border-radius: 4px;
}

.rt-TextFieldRoot {
    margin: 10px 0;
}